@model GAPT.ViewModels.CouncilDecisionFormViewModel
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<h2>Council Approval</h2>
@using (Html.BeginForm("Save", "CouncilDecision"))
{
    <p>
        In-principle approval @Html.RadioButtonFor(m => m.CouncilDecision.Selection, true, new { @id = "ApprovedButton" })
    </p>
    <p>
        Not approved @Html.RadioButtonFor(m => m.CouncilDecision.Selection, false, new { @id = "NotApprovedButton" })
    </p>
    @Html.ValidationMessageFor(m => m.CouncilDecision.Selection)<br><br>
    @Html.HiddenFor(m => Model.CouncilDecision.Id)
    @Html.HiddenFor(m => Model.Proposal.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Sign</button>
    <input type="button" class="btn btn-danger" value="Cancel" onclick="location.href='@Url.Action("InPrinciple", "Proposal", new { id = Model.Proposal.Id })'" />
}

@section Scripts{

    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var na = document.getElementById('NotApprovedButton');
        na.checked = false;
        var a = document.getElementById('ApprovedButton');
        a.checked = false;
    </script>
}
