@model GAPT.ViewModels.EndorsementCollabFormViewModel
@{
    ViewBag.Title = "Accepted";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<h2>@Model.Endorsement.Ref_Department.Name</h2>

<p>
This proposal has been considered by the Department of <b><u><i>@Model.Endorsement.Ref_Department.Name</i></u></b>, and is being recommended for approval through the respective Board of the Faculty/Institute/Centre/School.
</p>

<label>Signed By</label>
<p>@Model.Endorsement.SignedBy</p>
<label>Signed On</label>
<p>@Model.Endorsement.SignedDate</p>
<input type="button" class="btn btn-danger" value="Cancel" onclick="location.href='@Url.Action("Approval", "Proposal", new { id = Model.Proposal.Id })'" />

