@model GAPT.ViewModels.EndorsementCollabFormViewModel
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<h2>@Model.Endorsement.Ref_Department.Name</h2>
@using (Html.BeginForm("Save", "EndorsementCollab"))
{
    <p>
        (a) This proposal has been considered by the Department of <b><u><i>@Model.Endorsement.Ref_Department.Name</i></u></b>, and is being recommended for approval through the respective Board of the Faculty/Institute/Centre/School.
    </p>
    @Html.RadioButtonFor(m => m.Endorsement.Selection, true, new { @checked = true, @onclick = "hideText()" })
    
    <p>OR</p>
    <p>
        (b) This proposal, which has been considered at the meeting of the Board of the Faculty/Institute/Centre/School held on <u><i>(Select date below)</i></u>, is not being recommended for approval for the reasons detailed in the attached report.
    </p>
    <div class="form-group">
        <div class='input-group date' id='HeldDate' style="width:280px">
            @Html.TextBoxFor(m => m.Endorsement.HeldDate, new { id="heldDateField" , @class = "form-control", @style = "color:white" })
            <span class="input-group-addon" style="width:0">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        @Html.ValidationMessageFor(m => m.Endorsement.HeldDate)
    </div>
    @Html.RadioButtonFor(m => m.Endorsement.Selection, false, new { @onclick = "showText()" })<br><br>
    @Html.HiddenFor(m => Model.Endorsement.Id)
    @Html.HiddenFor(m => Model.Proposal.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Sign</button>
    <input type="button" class="btn btn-danger" value="Cancel" onclick="location.href='@Url.Action("Index", "Approval", new { id = Model.Proposal.Id })'" />
}

@section Scripts{

    @Scripts.Render("~/bundles/jqueryval")


    <script type="text/javascript">
        $(function () {
            $('#HeldDate').datetimepicker({
                format: 'DD/MM/YYYY',
            })
        });
    </script>
    <script type="text/javascript">
            function hideText() {
                document.getElementById("heldDateField").style.color = "white";
            }
    </script>
    <script type="text/javascript">
            function showText() {
                document.getElementById("heldDateField").style.color = "black";
            }
    </script>

}
