@model GAPT.ViewModels.EndorsementCollabFormViewModel
@{
    ViewBag.Title = "Accepted";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<h2>@Model.Endorsement.Ref_Department.Name</h2>

<p>
This proposal, which has been considered at the meeting of the Board of the Faculty/Institute/Centre/School held on <b><u><i>@Model.Endorsement.HeldDate</i></u></b>, is not being recommended for approval for the reasons detailed in the attached report.
</p>

<label>Signed By</label>
<p>@Model.Endorsement.SignedBy</p>
<label>Signed On</label>
<p>@Model.Endorsement.SignedDate</p>
<input type="button" class="btn btn-danger" value="Cancel" onclick="location.href='@Url.Action("Index", "EndorsementStatement", new { id = Model.Proposal.Id })'" />

