@model GAPT.ViewModels.StatementServFormViewModel
@{
    ViewBag.Title = "Accepted";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<h2>@Model.Statement.Ref_Department.Name</h2>

<p>
    The department has been notified of the servicing requirements and find no objection to the inclusion of the study-units offered by the Department of <b><u><i>@Model.Statement.Ref_Department.Name</i></u></b> in the proposed programme of study.
</p>

<label>Signed By</label>
<p>@Model.Statement.SignedBy</p>
<label>Signed On</label>
<p>@Model.Statement.SignedDate</p>
<input type="button" class="btn btn-danger" value="Cancel" onclick="location.href='@Url.Action("Index", "Approval", new { id = Model.Proposal.Id })'" />

