@model GAPT.ViewModels.UnitFormViewModel
@using GAPT.Models
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>New Unit</h2>
@using (Html.BeginForm("Save", "Unit"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Unit.Code)
        @Html.TextBoxFor(m => m.Unit.Code, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Unit.Code)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Unit.Title)
        @Html.TextBoxFor(m => m.Unit.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Unit.Title)
    </div>
    <div class="form-group" style="width:280px">
        <label>Department</label>
        <br>
        <select id="deptSelect" data-live-search="true" class="selectpicker form-control" name="SelectedDept" data-actions-box="true">
            @foreach (@SelectListItem item in Model.Depts)
            {
                <option value=@item.Value>@item.Text</option>
            }


        </select>
    </div>
    @Html.HiddenFor(m => m.Unit.Id)
    @Html.HiddenFor(m => m.YearRedirect)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
    <input type="button" class="btn btn-danger" value="Cancel" onclick="location.href='@Url.Action("Edit", "Year", new { id = Model.YearRedirect })'" />
}

@section Styles{
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
}

@section Scripts{

    @*multiselect*@
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
