@model GAPT.ViewModels.ApprovalIndexViewModel
@using GAPT.Models
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var collabDepts = Model.CollabDepts;
    var servDepts = Model.ServDepts;
    var faculty = Model.Faculty;
    var proposal = Model.Proposal;
    //bool exists;
    //var programmeStudy = Model.ProgrammeStudy;
    //if (programmeStudy == null || programmeStudy.Id == 0)
    //{
    //    ViewBag.Title = "New Proposal";
    //    exists = false;
    //}
    //else
    //{
    //    ViewBag.Title = "Edit Proposal";
    //    exists = true;

    //}
    //string heading = (exists == false) ? "New Proposal" : "Edit Proposal";
}

@*<h2>@heading</h2>*@
<h2>Section E - Faculty Approval</h2>
<input type="button" class="btn btn-warning" value="Section A" onclick="location.href='@Url.Action("General", "Proposal", new { id = Model.Proposal.Id })'" />
<input type="button" class="btn btn-warning" value="Section B" onclick="location.href='@Url.Action("Rationale", "Proposal", new { id = Model.Proposal.Id })'" />
<input type="button" class="btn btn-warning" value="Section C" onclick="location.href='@Url.Action("ExternalReview", "Proposal", new { id = Model.Proposal.Id })'" />
<input type="button" class="btn btn-warning" value="Section D" onclick="location.href='@Url.Action("IncomeExpenditure", "Proposal", new { id = Model.Proposal.Id })'" />
<input type="button" class="btn btn-warning" value="Section E" onclick="location.href='@Url.Action("Jump", "Approval", new { id = Model.Proposal.Id })'" />
<br><br>

    
    @if (faculty != null)
    {
        <h4>Faculty</h4>
        <table id="faculty" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Faculty</th>
                    <th>Recommendation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@faculty.Name</td>
                    <td>@Html.ActionLink("View", "Details", "RecommendationFics", new { id = faculty.GetRecommendation(proposal.Id).Id }, null)</td>
                </tr>
                
            </tbody>
        </table>
    }
    else
    {
        <p>This Proposal has no Faculty</p>
    }
    @if (collabDepts.Count() > 0)
    {
        <h4>Collaborating Departments</h4>
        <table id="collabDepts" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Department</th>
                    <th>Endorsement</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Ref_Department dept in collabDepts)
                {
                    <tr>
                        <td>@dept.Name</td>
                        <td>@Html.ActionLink("View", "Details", "EndorsementCollab", new { id = dept.GetCollabEndorsement(proposal.Id).Id }, null)</td>
                    </tr>
                }
            </tbody>
        </table>
        
    }
    else
    {
        <p>This Proposal has no Collaborating Departments</p>
    }
    @if (servDepts.Count() > 0)
    {
        <h4>Servicing Departments</h4>
        <table id="servDepts" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Department</th>
                    <th>Statement</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Ref_Department dept in servDepts)
                {
                    <tr>
                        <td>@dept.Name</td>
                        <td>@Html.ActionLink("View", "Details", "StatementServ", new { id = dept.GetServStatement(proposal.Id).Id }, null)</td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <p>This Proposal has no Servicing Departments</p>
    }
    @Html.HiddenFor(m => m.Proposal.Id)
    <input type="button" class="btn btn-primary" value="Previous" onclick="location.href='@Url.Action("IncomeExpenditure", "Proposal", new { id = Model.Proposal.Id})'" /><br><br>


