@model GAPT.ViewModels.ApprovalIndexViewModel
@using GAPT.Models
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var collabDepts = Model.CollabDepts;
    var servDepts = Model.ServDepts;
    var faculty = Model.Faculty;
    var proposal = Model.Proposal;
}
<h2>Section E - Faculty Approval</h2>
<input type="button" class="btn btn-warning" value="Section A" onclick="location.href='@Url.Action("General", "Proposal", new { id = Model.Proposal.Id })'" />
<input type="button" class="btn btn-warning" value="Section B" onclick="location.href='@Url.Action("Rationale", "Proposal", new { id = Model.Proposal.Id })'" />
<input type="button" class="btn btn-warning" value="Section C" onclick="location.href='@Url.Action("ExternalReview", "Proposal", new { id = Model.Proposal.Id })'" />
<input type="button" class="btn btn-warning" value="Section D" onclick="location.href='@Url.Action("IncomeExpenditure", "Proposal", new { id = Model.Proposal.Id })'" />
<input type="button" class="btn btn-warning" value="Section E" onclick="location.href='@Url.Action("Jump", "Approval", new { id = Model.Proposal.Id })'" />
@if (proposal.HasFacultyApproval())
{
    <input type="button" class="btn btn-warning" value="Section F" onclick="location.href='@Url.Action("Jump", "InPrinciple", new { id = Model.Proposal.Id })'" />
}
<br><br>

    
    @if (faculty != null)
    {

        var rec = faculty.GetRecommendation(proposal.Id);

        if (rec != null)
        {
            <h4>Faculty</h4>
            var color = "";
            if (rec.Selection == true) { color = "green"; } else if (rec.Selection == false) { color = "red"; }
            <table id="faculty" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Faculty</th>
                        <th>Recommendation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="color:@color">@faculty.Name</td>
                        <td>@Html.ActionLink("View", "Details", "RecommendationFics", new { id = rec.Id }, null)</td>
                    </tr>

                </tbody>
            </table>
        }

    }
    else
    {
        <h4>This Proposal has no Faculty</h4>
    }
    @if (collabDepts.Count() > 0)
    {
        <h4>Collaborating Departments</h4>
        <table id="collabDepts" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Department</th>
                    <th>Endorsement</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Ref_Department dept in collabDepts)
                {
                    var end = dept.GetCollabEndorsement(proposal.Id);
                    var color = "";
                    if (end.Selection == true) { color = "green"; } else if (end.Selection == false) { color = "red"; }
                    <tr>
                        <td style="color:@color">@dept.Name</td>
                        <td>@Html.ActionLink("View", "Details", "EndorsementCollab", new { id = end.Id }, null)</td>
                    </tr>
                }
            </tbody>
        </table>
        
    }
    else
    {
        <h4>This Proposal has no Collaborating Departments</h4>
    }
    @if (servDepts.Count() > 0)
    {
        <h4>Servicing Departments</h4>
        <table id="servDepts" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Department</th>
                    <th>Statement</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Ref_Department dept in servDepts)
                {
                    var stm = dept.GetServStatement(proposal.Id);
                    var color = "";
                    if (stm.Selection == true) { color = "green"; } else if (stm.Selection == false) { color = "red"; }
                    <tr>
                        <td style="color:@color">@dept.Name</td>
                        <td>@Html.ActionLink("View", "Details", "StatementServ", new { id = stm.Id }, null)</td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <h4>This Proposal has no Servicing Departments</h4>
    }
    @Html.HiddenFor(m => m.Proposal.Id)
    <input type="button" class="btn btn-primary" value="Previous" onclick="location.href='@Url.Action("IncomeExpenditure", "Proposal", new { id = Model.Proposal.Id})'" />
    @if (proposal.HasFacultyApproval())
    {
        <input type="button" class="btn btn-primary" value="Next" onclick="location.href='@Url.Action("Jump", "InPrinciple", new { id = Model.Proposal.Id })'" />
    }
    

