@model GAPT.Models.Proposal
@using GAPT.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<table id="proposal-data" class="table table-bordered table-hover">
    <tbody>
        <tr>
            <th>Id</th><td>@Model.Id</td>
        </tr>
        <tr>
            <th>Created By</th>
            <td>@Model.CreatedBy</td>
        </tr>
        <tr>
            <th>Created On</th>
            <td>@Model.CreatedOn</td>
        </tr>
    </tbody>
</table>


@if (Model.GeneralId != null)
{
    <h3>Section A - General</h3>
    <table id="general-data" class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>@Model.GeneralId</td>
            </tr>
            <tr>
                <th>Proposed Title of Award</th>
                <td>@Model.General.Title</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>@Model.General.GetLevelName()</td>
            </tr>
            <tr>
                <th>Area/s of Study</th>
                <td>@Model.General.AreasStudy</td>
            </tr>
            <tr>
                <th>Faculty/Institute/Centre</th>
                <td>@Model.General.GetFacultyName()</td>
            </tr>
            @if (Model.General.GetInitDepts() != null)
            {
                string s = "";
                foreach (Ref_Department dept in Model.General.GetInitDepts())
                {
                    s += dept.Name + ", ";
                }
                s = s.TrimEnd(' '); s = s.TrimEnd(',');
                <tr>
                    <th>Initiating Departments</th>
                    <td>@s</td>
                </tr>
            }
            @if (Model.General.GetCollabDepts() != null)
            {
                string s = "";
                foreach (Ref_Department dept in Model.General.GetCollabDepts())
                {
                    s += dept.Name + ", ";
                }
                s = s.TrimEnd(' '); s = s.TrimEnd(',');
                <tr>
                    <th>Collaborating Departments</th>
                    <td>@s</td>
                </tr>
            }
            @if (Model.General.GetServDepts() != null)
            {
                string s = "";
                foreach (Ref_Department dept in Model.General.GetServDepts())
                {
                    s += dept.Name + ", ";
                }
                s = s.TrimEnd(' '); s = s.TrimEnd(',');
                <tr>
                    <th>Servicing Departments</th>
                    <td>@s</td>
                </tr>
            }
            <tr>
                <th style="color:red">Name of Proposer/s</th>
                <td></td>
            </tr>
            <tr>
                <th style="color:red">Programme Type</th>
                <td></td>
            </tr>
            <tr>
                <th>Mode of Delivery</th>
                <td>@Model.General.GetDeliveryName()</td>
            </tr>
            <tr>
                <th>Duration in Semesters</th>
                <td>@Model.General.DurationSemesters</td>
            </tr>
            <tr>
                <th>Proposed Date of First Intake</th>
                <td>@Model.General.FirstDateIntake</td>
            </tr>
            <tr>
                <th>Expected Student Numbers</th>
                <td>@Model.General.ExpectedStudents</td>
            </tr>
            <tr>
                <th>Maximum Student Numbers</th>
                <td>@Model.General.MaxStudents</td>
            </tr>
            <tr>
                <th>Reason for Capping</th>
                <td>@Model.General.CappingReason</td>
            </tr>
        </tbody>
    </table>
}

@if (Model.ProgrammeRationaleId != null)
{
    <h3>Section B - Rationale for Programme</h3>
    if (@Model.ProgrammeRationale.Rationale != null)
    {
        <h3>Rationale</h3>
        <p><b>(a) Give the justification for the introduction of theis programme of studies at the University of Malta</b><br>@Model.ProgrammeRationale.Rationale.Justification</p>
        <p><b>(b) How does this programme fit into the existing plans and scope of the Department, Faculty, and/or the University strategy?</b><br>@Model.ProgrammeRationale.Rationale.Fit</p>
        <p><b>(c) How does this programme differ from existing programmes in the same or related areas of study offered by this University?</b><br>@Model.ProgrammeRationale.Rationale.Differences</p>
    }
    if (@Model.ProgrammeRationale.Demand != null)
    {
        <h3>Demand</h3>
        <p><b>(a) A brief description of the expected student profile, if applicable, and market demand is
                    to be included in this section. You might wish to consider the following points:<br>
                    • Is the programme targeted at any particular type of student?<br>
                    • Is there any evidence of employer support/demand?<br>
                    • Have the major stakeholders been consulted / involved in the planning stage?<br></b>
            @Model.ProgrammeRationale.Demand.Description</p>
        <p><b>(b) Will the demand for this programme be ongoing or for a specific period?</b> (In the latter instance please indicate period)<br>@Model.ProgrammeRationale.Demand.Period</p>
    }
    if (@Model.ProgrammeRationale.ProgrammeOfStudy != null)
    {
        <h3>The Programme of Study</h3>
        <p>
            <b>
                Give a detailed summary of the proposed programme of study and the intended learning
                outcomes. This section should include details of how the programme provides opportunities
                for students to demonstrate:
            </b><br>
            <b>
                (a) Subject Knowledge and understanding
            </b><br>
            @Model.ProgrammeRationale.ProgrammeOfStudy.KnowledgeUnderstanding
            <b><br><br>
                (b) Intellectual development
            </b><br>
            @Model.ProgrammeRationale.ProgrammeOfStudy.IntellectualDevelopment
            <b><br><br>
                (c) Key/transferrable skills
            </b><br>
            @Model.ProgrammeRationale.ProgrammeOfStudy.KeyTransferableSkills
            <b><br><br>
                (d) Other skills relevant to employability and personal development
            </b><br>
            @Model.ProgrammeRationale.ProgrammeOfStudy.OtherSkills
        </p>
    }
}
