@model IEnumerable<GAPT.Models.Proposal>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Proposals</h2>
@if (!Model.Any())
{
    <p>We don't have any proposals yet.</p>
}
else
{
    <table id="proposals" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Created By</th>
                <th>Created On</th>
                <th>General Id</th>
                <th>PR Id</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var proposal in Model)
            {
                <tr>
                    <td>@proposal.Id</td>
                    <td>@proposal.CreatedBy</td>
                    <td>@proposal.CreatedOn</td>
                    <td>@proposal.GeneralId</td>
                    <td>@proposal.ProgrammeRationaleId</td>
                    <td>@Html.ActionLink("Edit", "Edit", "General", new { id = proposal.GeneralId }, null)</td>
                </tr>
            }
        </tbody>
    </table>
}
<input type="button" class="btn btn-success" value="New Proposal" onclick="location.href='@Url.Action("New", "Proposal")'" />