@model GAPT.ViewModels.IncomeExpenditureIndexViewModel
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var statements = Model.Statements;
    //bool exists;
    //var programmeStudy = Model.ProgrammeStudy;
    //if (programmeStudy == null || programmeStudy.Id == 0)
    //{
    //    ViewBag.Title = "New Proposal";
    //    exists = false;
    //}
    //else
    //{
    //    ViewBag.Title = "Edit Proposal";
    //    exists = true;

    //}
    //string heading = (exists == false) ? "New Proposal" : "Edit Proposal";
}

@*<h2>@heading</h2>*@
<h2>Section D - Proposed Income and Expenditure Statement</h2>
@using (Html.BeginForm("DummySave", "IncomeExpenditure"))
{
    <div id="navbar">
        <button type="submit" name="jump" value="A" class="btn btn-warning">Section A</button>
        <button type="submit" name="jump" value="B" class="btn btn-warning">Section B</button>
        <button type="submit" name="jump" value="C" class="btn btn-warning">Section C</button>
        <button type="submit" name="jump" value="D" class="btn btn-warning">Section D</button>
        <button type="submit" name="jump" value="E" class="btn btn-warning">Section E</button>
    </div>
    <br>
    if (statements.Count() == 0)
    {
    <p>This Proposal does not have any Statements yet.</p>
   }
   else
   {
    <table id="statements" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Upload</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var statement in statements)
            {
                <tr>
                    <td>@statement.Id</td>
                    <td><a target="_blank" href="@Url.Content("~/Uploads/" + statement.Upload)">@statement.Upload</a></td>
                    <td>@Html.ActionLink("Edit", "Edit", "StatementIE", new { id = statement.Id}, null) - @Html.ActionLink("Remove", "Delete", "StatementIE", new { id = statement.Id }, null)</td>
                </tr>
            }
        </tbody>
    </table>
    }
    @Html.HiddenFor(m => m.Proposal.Id)
    <input type="button" class="btn btn-success" value="New Upload" onclick="location.href='@Url.Action("New", "StatementIE", new { id = Model.Proposal.Id})'" /><br><br>
    <button type="submit" name="jump" value="-1" class="btn btn-primary">Previous</button>
    <button type="submit" name="jump" value="1" class="btn btn-primary">Next</button>
}

